<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          I've previously worked at Labatt Breweries of Canada (AB InBev) & Georgian Bay Spirit Co. (Small Canadian Startup) where 
          I focused on data analysis and operations. As a result I have anticipated future outcomes, led data-based decision making, 
          and drawn measurable insights.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          A big part of data analysis is making information look good & accessible.
          I'll make your data look great and easy to read. It will be done on Excel or PowerBI so it'll be compatible with any work environment.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <!-- <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a> -->
      </div>
    </div>
  </div>
</section>
